<div class="text-center" style="margin-top: 180px">
  <div class="form" style="border: 1px solid; width: 500px; margin: auto; border-radius: 10px;">
    <h2>Изменить настройки аккаунта</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :full_name,'Имя Фамилия' %><br />
        <%= f.text_field :full_name, autofocus: true, autocomplete: "Имя Фамилия" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(оставьте пустым, если не хотите изменять его)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> символов минимум</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(текущий пароль для подтверждения изменений)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Обновить" %>
      </div>
    <% end %>

    <h3>Удалить аккаунт</h3>

    <div><%= button_to "Удалить аккаунт?", registration_path(resource_name), data: { confirm: "Вы уверены?", turbo_confirm: "Вы уверены?" }, method: :delete %></div>

    <%= link_to "Назад", :back %>
  </div>
</div>