<div id="<%= dom_id project %>">
  <p>
    <strong>Название проекта:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Дедлайн:</strong>
    <%= project.deadline %>
  </p>

<% unless project.end_date.nil? %>
  <p>
    <strong>Дата завершения:</strong>
    <%= project.end_date %>
  </p>
<% end %>

  <p>
    <strong>Статус:</strong>
    <%= project.active? ? 'Активен' : 'Завершён' %>
  </p>

</div>
