<h1>Изменение проекта</h1>

<%# <%= render "form", project: @project %>
<%= form_with model: @project do |form|%>
    <% if @project.errors.any? %>
    <div style="color: red">
      <h2>При сохранении проекта возникли ошибки:</h2>

      <ul>
        <% @project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, 'Название проекта', style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, 'Описание проекта', style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :deadline, 'Дедлайн', style: "display: block" %>
    <%= form.date_field :deadline %>
  </div>

  <div>
    <%= form.label :end_date, 'Завершить проект?', style: "display: block" %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.submit 'Сохранить изменения' %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Показть проект", @project %> |
  <%= link_to "Назад к проектам", projects_path %>
</div>
