<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <div class="d-inline-flex flex-column flex-shrink-0 p-3 bg-white" style="width: 15%; height: 100vh; float: left; position: fixed; border-right: solid 1px; border-color: #dcdddd">
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <div class="nav-link" style="color: black; font-weight: bold">Завершенные проекты</div>
      <hr style="margin-top: 0">
      <% @projects.each do |project|%>
        <li>
          <div class="nav-link">
            <a href="<%= project_path(project) %>" style="color: black; text-decoration: none"><%= project.name %></a>
          </div>
        </li>
      <% end %>
    </ul>
    <hr>
    <p><%= link_to "Новый проект", new_project_path, class: "btn btn-success", style: "width: 100%", data: { turbo_frame: "remote_modal" }%></p>
  </div>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top" style="height: 64px; border-bottom: solid 1px; border-color: #dcdddd"">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <!-- Brand -->
      <a class="navbar-brand" href="<%= projects_path %>">
        <img
             src="https://www.projectmanager.com/wp-content/uploads/2022/04/PM-logo-email.png"
             height="50"
             alt=""
             loading="lazy"
             />
      </a>
      <a href="<%= projects_path %>" style="font-size: 28px; text-decoration: none; color: black">Project Minder</a>
      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <li>
          <a class="nav-link" href="<%= projects_path %>">Активные</a>
        </li>
        <li>
          <a class="nav-link active" href="<%= finished_projects_path %>">Завершенные</a>
        </li>
        <li>
          <a class="nav-link" href="<%= analytics_projects_path %>">Аналитика</a>
        </li>
        <li>
          <a class="nav-link" href="#">Пользователи</a>
        </li>

        <!-- Avatar -->
        <li class="nav-item dropdown">
          <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag 'logos/profile.png', style: 'height: 22px'%>     
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= button_to 'Аккаунт', edit_user_registration_path, method: :get, class: "dropdown-item" %></li>
            <li><%= button_to 'Выйти', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 20px">
  <div class="container" style="padding-top: 60px">
    <h1>Завершенные проекты</h1>
    <p>Для начала работы, создайте новый проект или выберите существующий.</p>
    <p style="color: green"><%= notice %></p>
    <h1>Проекты</h1>
    <div id="projects">
      <% @projects.each do |project| %>
        <%= render project %>
        <p>
          <%= link_to "Показать проект", project %>
        </p>
      <% end %>
    </div>
    <%= link_to "Новый проект", new_project_path %>
  </div>
</main>
<!--Main layout-->
