<h1>Создание проекта</h1>

<%# <%= render "form", project: @project  %>
<%= form_with model: @project do |form| %>

  <div>
    <%= form.label :name, 'Название проекта', style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, 'Описание проекта', style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :deadline, 'Дедлайн', style: "display: block" %>
    <%= form.date_field :deadline %>
  </div>



  <div>
    <%= form.submit 'Создать проект' %>
  </div>
<% end %>
<br>

<div>
  <%= link_to "Back to projects", projects_path %>
</div>
