<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "Редактировать", edit_project_path(@project) %> |
  <%= link_to "Назад к проектам", projects_path %>

  <%= button_to "Удалить проект", @project, method: :delete %>
</div>
